<ul class="socials">
	{% for url in site.data.settings.social_settings %}
	{% if url[1] != '' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	
	<li class="socials__item">
		<a href="https://scholar.google.com/citations?user=lP73UFAAAAAJ&hl=en" class="socials__item__link">
			
<img style="    display: table-cell;position: absolute;top: 8%;margin-left: 10%;height: 80%;"  src="https://img.icons8.com/material-outlined/192/000000/google-scholar.png"/>

		</a>

	</li>
</ul>
